<div class="Burger">
  <div class="BreadTop">
    <div class="Seeds1"></div>
    <div class="Seeds2"></div>
  </div>
  <div class="Bacon" *ngFor="let ingredient of ingredientBC"></div>
  <div class="Cheese" *ngFor="let ingredient of ingredientCH"></div>
  <div class="Meat" *ngFor="let ingredient of ingredientMT"></div>
  <div class="Salad" *ngFor="let ingredient of ingredientSD"></div>
  <div class="BreadBottom"></div>
</div>
<p>
  <span>Total price <strong>{{ getTotalPrice() }}</strong></span>
</p>
