<div class="ingredients">
  <p *ngFor="let ingredient of ingredients let i = index">
    <label><img src="{{ ingredient.url }}" alt="" (click)="addIngredient(i)"/></label>
    <span>{{ ingredient.name }}</span>
    <strong>x{{ ingredient.quantity }}</strong>
    <label><button [disabled]="ingredient.quantity === 0" (click)="deleteIngredient(i)">Delete</button></label>
</div>
