.ingredients {
  width: 400px;
  padding: 0 20px;
}
p{
  display: flex;
  justify-content: space-between;
}
span{
  width: 100px;
}
img {
  width: 100px;
  height: auto;
  border: 1px solid black;
}

