<div class="constructor-burger">
  <app-ingredients [ingredients]="ingredients" (addIngredients)="addIngredient($event)" (deleteIngredients)="deleteIngredient($event)"></app-ingredients>
  <app-burger [ingredients]="ingredients"
              [ingredientBC]="ingredientBacon"
              [ingredientMT]="ingredientMeat"
              [ingredientSD]="ingredientSalad"
              [ingredientCH]="ingredientCheese">
  </app-burger>
</div>
